{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}

{% block navbar %}
  {% include "includes/navbar.html" %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row" style="justify-content: space-between">
      <h1 style="padding-bottom: 20px">All available dishes</h1>
      <form method="get" action="{% url 'kitchen:dish-list' %}" class="form-inline" style="padding-bottom: 20px">
        {{ form|crispy }}
        <button type="submit" class="btn btn-success" style="margin-left: 6px">Apply</button>
      </form>
      <a href="{% url 'kitchen:dish-create' %}"><input type="button" class="btn btn-primary" style="margin-top: 7px"
                                                       value="Add new dish"></a>
    </div>
  </div>
  <div class="post-container">
    {% for dish in dish_list %}
      <div class="image">
      </div>
      <div class="post">
        <img src="{% static 'img/dishes.jpg' %}" alt="" class="inline-image">
        <div class="post-content">
          <h2>{{ dish.name }}</h2>
          <p>{{ dish.description|slice:":300" }} <a href="{% url 'kitchen:dish-detail' dish.id %}">View instructions</a>
          </p>
          <strong class="post-meta">Price {{ dish.price }}$
            | {{ dish.dish_type }}</strong>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
